/*App.css*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: system-ui;
	height: 100%;
	margin-top: 10px;
  margin-left: 20px;
	box-sizing: border-box;
}

#root {
	width: 100%;
	height: 100%;
}
